<% if conversation.messages.any? %>
  <div class="card conversation-block">
    <div class="card-block">
      <div class="row">
        <div class="avatar"><%= conversation.interlocutor(current_user).short_name_avatar %></div>
        <div class="user-block">
          <% if owner_last_message?(conversation) %>
            <% if time_open_last_message(conversation) %>
              <p class="card-text lead user-name"><%= conversation.interlocutor(current_user).name %> <span class=""><i class="fa fa-eye fa-lg" aria-hidden="true"></i></span></p>
              <p class="card-text lead time">seen at <%= time_open_last_message(conversation) %></p>
            <% else %>
              <p class="card-text lead user-name"><%= conversation.interlocutor(current_user).name %> <span class=""><i class="fa fa-check fa-lg" aria-hidden="true"></i></span></p>
              <p class="card-text lead time">unread</p>
            <% end %>
          <% else %>
            <% if time_open_last_message(conversation) %>
              <p class="card-text lead user-name"><%= conversation.interlocutor(current_user).name %> <span class=""><i class="fa fa-check fa-lg" aria-hidden="true"></i></span></p>
            <% else %>
              <p class="card-text lead user-name recived-message">
                <%= link_to conversations_path(sid: current_user.id, rid: conversation.interlocutor(current_user).id), method: :post, class: "" do %>
                  <%= conversation.interlocutor(current_user).name %> <span class="label label-default label-pill"><%= recieved_messages(conversation).size %></span>
                <% end %>
              </p>
              <p class="card-text lead time">last recieved <%= time_recieved_last_message(conversation) %></p>
            <% end %>
          <% end %>
          <%= link_to conversations_path(sid: current_user.id, rid: conversation.interlocutor(current_user).id), method: :post, class: "" do %>
            <i class="fa fa-comments-o fa-lg" aria-hidden="true"></i> Send message
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
