<div class="card">
  <div class="card-block">
    <h3 class="card-title">Login like a Deadpool hero</h3>
    <div class="card-text">
      <%= form_tag("/session", method: "post") do %>
        <fieldset class="form-group">
          <%= label_tag "email", "Email" %>
          <%= email_field_tag "email", nil, class: "form-control", placeholder: "Your email" %>
        </fieldset>
        <fieldset class="form-group">
          <%= label_tag "password", "Password" %>
          <%= password_field_tag "password", nil, class: "form-control" %>
        </fieldset>
        <%= submit_tag "Sign in", class: "btn btn-primary-outline" %>
        <a href="" id="sign_in_fb"><img src="/assets/FB-f-Logo__blue_50.png" alt="fb-logo" style="width: 36px;margin-left: 16px;margin-right: 16px;"></a>
        <div style="margin-top: 10px;"><%= link_to "Become a Deadpool hero now!", "/signup" %></div>
      <% end %>
    </div>
  </div>
</div>
