<div class="card">
  <div class="card-block">
    <h3 class="card-title">Become a new Deadpool hero now!</h3>
    <div class="card-text">
      <%= form_for @user do |user| %>
        <fieldset class="form-group">
          <%= user.label :name, "Full name" %>
          <%= user.text_field :name, class: "form-control", placeholder: "Your full name" %>
        </fieldset>
        <fieldset class="form-group">
          <%= user.label :email, "Email" %>
          <%= user.email_field :email, class: "form-control", placeholder: "Your email" %>
        </fieldset>
        <fieldset class="form-group">
          <%= user.label :password, "Password" %>
          <%= user.password_field :password, class: "form-control" %>
        </fieldset>
        <%= user.submit "Sign up", class: "btn btn-primary" %>
        <%= link_to "I'm already a Deadpool hero", "/login" %>
      <% end %>
    </div>
  </div>
</div>
