<div class="card">
  <div class="card-block">
    <h3 class="card-title">Become a new Deadpool hero now!</h3>
    <div class="card-text">
      <%= form_for @user do |user| %>
        <fieldset class="form-group">
          <%= user.label :name, "Full name" %>
          <%= user.text_field :name, class: "form-control", placeholder: "Your full name" %>
        </fieldset>
        <fieldset class="form-group">
          <%= user.label :email, "Email" %>
          <%= user.email_field :email, class: "form-control", placeholder: "Your email" %>
        </fieldset>
        <fieldset class="form-group">
          <%= user.label :password, "Password" %>
          <%= user.password_field :password, class: "form-control" %>
        </fieldset>
        <%= user.submit "Sign up", class: "btn btn-primary-outline" %>
        <a href="" id="sign_in_fb"><img src="/assets/FB-f-Logo__blue_50.png" alt="fb-logo" style="width: 36px;margin-left: 16px;margin-right: 16px;"></a>
        <div style="margin-top: 10px;"><%= link_to "I'm already a Deadpool hero", "/login" %></div>
      <% end %>
    </div>
  </div>
</div>
